<!-- Toolbar-->
<mat-toolbar color="primary" class="app-header">
   <div><a href="https://www.positronx.io" target="_blank" class="positronx">Koussai Gssouma</a></div>
   <span class="nav-tool-items">
     <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
     <a mat-button mat-raised-button routerLink="signupEmp" routerLinkActive="active">Register</a>
     <a mat-button mat-raised-button routerLink="/addEmployee" routerLinkActive="active">ajouter employer</a>
     <a mat-button mat-raised-button routerLink="/controleEmp" routerLinkActive="active">controlle employer</a>
   </span>
 </mat-toolbar> 
 <router-outlet></router-outlet>
 